<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="140.802.134" targetFramework="net452" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.340.80" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net452" />
</packages>